@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    /* VARIABLES */
    --bg: #121212;
    --fg: #cfcfcf;
    --hover-bg: #3d3d3d;

    box-sizing: border-box;
    font-size: 62.5%;
    color: var(--fg);
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*:active {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
}

body {
    display: flex;
    height: 100svh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: min(4.8rem, 6vw);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choices {
    padding: 24px;
    display: flex;
    justify-content: center;
    font-size: min(9.6rem, 6vw);
    gap: 16px;
    cursor: pointer;
}

.choices>div {
    border: 1px solid var(--fg);
    padding: 24px;
    border-radius: 50%;
}

.result {
    width: min(84vw, 600px);
    border: 1px solid var(--fg);
    border-radius: 24px;
    height: 52px;
    margin-bottom: 24px;
    padding: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(2.4rem, 4vw);
    text-align: center;
}

.scores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: min(2.4rem, 6vw);
    text-align: center;
}

.opts {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 48px;
}

.opts>button {
    all: unset;
    font-size: min(2.4rem, 4vw);
    padding: 8px 16px;
    background: var(--bg);
    color: var(--fg);
    border: 1px solid var(--fg);
    border-radius: 24px;
    cursor: pointer;
}

@media (hover: hover) {

    button:hover,
    .choices>div:hover {
        background: var(--hover-bg);
        transform: scale(95%);
        transition: .4s;
    }
}

button.active,
button:active,
.choices>div.active,
.choices>div:active {
    background: var(--fg);
    color: var(--bg);
}
