@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;700&family=Poppins:ital,wght@0,600;0,700;0,800;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: #555555;
    color: #ffffff;
}

header {
    height: 100px;
    background-color: #222222;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px
}

.records p:first-child {
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
    margin: 20px auto;
}

.round-winner {
    text-align: center;
    font-size: 1.6em;
}

.game-winner {
    text-align: center;
    font-size: 1.6em;
}

.scores {
    display: flex;
    font-size: 0.8em;
    font-weight: 500;
    gap: 120px;
    justify-content: center;
}

.scores div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scores div div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 50px auto;
    background-color: #444444;
}

.options {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.options img {
    color: #ffffff;
    height: 72px;
}

.options div {
    height: 160px;
    width: 160px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.options div:hover {
    background-color: #444444;
}

.footer {
    text-align: center;
    margin-top: 60px;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

.footer a:active,
.footer a:visited {
    color: #999999;
}
